<div class="test-results" data-placement="bottom" data-original-title="Tests: {{success}}/{{total}}" data-content="{{data}}"
     rel="popover"><span class="label">Tests: {{success}}/{{total}}</span>
</div>
