<li id="sidebar-test-run-{{id}}" class="sidebar-test-run clearfix">
    <div class="test-run-actions">
        <a  data-test-run-id="{{id}}" class="test-run-actions-delete">
            <img src="img/delete.png"/>
        </a>
    </div>
    <div class="test-run" data-test-run-id="{{id}}">
        <a  data-test-run-id="{{id}}">
            <span class="test-run-name">
                {{{name}}}
            </span>
        </a>
    </div>
</li>